.header {
  background: #3b5998;
  height: 56px; 
}

.title {
  color: #FFF;
  padding-left: 20px;
  display: inline;
}

.profile {
  font-size: 17px;
  color: #FFF;
  display: inline;
  float: right;
  padding-right: 60px;
}

.user1 {
  color: #FFF;
}
