.header {
  background: #3b5998;
  height: 56px; 
}

.title {
  color: #FFF;
  padding-left: 20px;
  display: inline;
}

.profile {
  font-size: 17px;
  color: #FFF;
  display: inline;
  float: right;
  padding-right: 60px;
}

.wrapper {
  background: #DCDCDC;
  height: 100px;
  width: 500px;
}

.user2 {
  font-size: 15px;
  font-weight: bold;
  margin-right: 9px;
}

.comment2 {
  font-size: 12px;
  margin-right: 9px;
}

.alinhar {
  display: flex;
  flex-direction: row;
}
